In [138]:
# Import Dependencies
import pandas as pd
import csv
import os

In [195]:
# File to Load
purchase_data_path = "Resources/purchase_data.csv"

# Read modified Purchase Data csv and store into Pandas DataFrame
purchase_df = pd.read_csv(purchase_data_path)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [196]:
#Total players
num_players = len(purchase_df["SN"].unique())
num_players_df = pd.DataFrame({"Player Count": [num_players]})
num_players_df

   Player Count
0           576

In [197]:
#Count the total number of players NEED TO: Format numbers, get rid of zero
#purchase_df["SN"].unique()

#Un Items
unique_items = len(purchase_df["Item Name"].unique())
#Avg Price
Avg_Price = purchase_df['Price'].mean()
#Total Numberof purchases
Num_Purchases = len(purchase_df['Purchase ID'])
#Total Revenue
Total_Revenue = sum(purchase_df['Price'])

purchasing_analysis_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                            "Average Purchase Price":[Avg_Price],
                            "Total Number of Purchases":[Num_Purchases],
                            "Total Revenue": [Total_Revenue]
                            })
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

In [211]:

purchase_df = purchase_df.drop_duplicates()

purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [218]:
players_unique_df = purchase_df.loc[:,["SN", "Age", "Gender"]].drop_duplicates()

In [221]:
gender_stats = players_unique_df["Gender"].value_counts()
percent_gender_stats = gender_stats / num_players * 100

merged_df = pd.DataFrame({"A":gender_stats,"B":percent_gender_stats})
merged_df

                         A          B
Male                   484  84.027778
Female                  81  14.062500
Other / Non-Disclosed   11   1.909722

In [186]:
gender_stats / num_players * 100

Male                     113.194444
Female                    19.618056
Other / Non-Disclosed      2.604167
Name: Gender, dtype: float64

In [223]:
purchase_df.groupby(['Gender']).mean()['Price']

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [194]:
#"Purchasing ANalysis by Gender Break out" Purchase count, avg purchase price, total purchase value, avg purchasre total/person by gender - Build a dataframe from the groupby? 
#Purchase COunt
pur_total = purchase_df.groupby(['Gender']).sum()['Price']
#Gender_players_df.sum()("Purchase ID") #DO this - grouby gender then sum 
# Average Price 
avg_price =  purchase_df.groupby(['Gender']).mean()['Price']
#Total Purchase Value
pur_count = purchase_df.groupby(['Gender']).count()['Price']
# Average Purchase Total Per Person by Gender"
#gender_avg = Gender_players_df.mean()("Gender") 

Gender_breakout_df = pd.DataFrame([{"Purchase Count":[pur_count] ,
                                  "Average Purchase Price": [avg_price] ,
                                   "Total Purchase Value" : [pur_val],
                                    "Average Purchase Total Per Person by Gender":[gender_avg] 
                        }])
Gender_players_df
#Gender_player.df.loc[:,[]]

NameError: name 'pur_val' is not defined

In [ ]:
#Use grouped data and filer from there Gender > Age
Gender_players_df["Age"].value_counts()

In [ ]:
#Gender_players_df.groups

In [ ]:
#Gender_players_df.get_group('Female') # How to sum from here?

In [ ]:
#Gender_players_df.get_group('Male').sum()

In [ ]:
#Pulled out female playser and price 
#Gender_players_df.get_group('Female'),["Price"]

In [ ]:
#Gender_players_df.mean()

In [ ]:
#If I pull out the columbns does this answers the questions in that section? Need to pull applicable columns

Gender_players_df.count()

In [ ]:
#Average total putrchase price by gender - check 
filter = purchase_df['Gender'] == "Female"
purchase_df.loc[filter]['Price'].mean()

In [158]:
Gender_players_df['Age'].describe()

,count,mean,std,min,25%,50%,75%,max
Gender,,,,,,,,
Female,113.0,21.345133,6.097086,7.0,18.0,21.0,24.0,40.0
Male,652.0,22.917178,6.689232,7.0,20.0,22.0,25.0,45.0
Other / Non-Disclosed,15.0,24.200000,8.376839,15.0,18.0,21.0,30.0,38.0

In [ ]:
#Create group by Age 
Age_df = purchase_df.groupby(["Age"])
Age_df.head()

In [ ]:
#Age Demo 
#Break into bins in 4 year increments # How to make over x age? > sign wont work for younger and older - error = ValueError: bins must increase monotonically.

bins = [5.9,9.9,14.9,19.9,24.9,29.9,34.9,39.9,44.9,49.9,54.9, 59.9,150]
group_names = ["6-9","10-14","15-19","20-24","25-29","30-34","35-39","40-44","45-49","50-54","55-60", "Over 60"]

In [225]:

#Group bins with names
#age_groups = pd.cut(Age_df["Age"], bins, labels = group_names)
#New_Age_df = pd.cut(Age_df["Age"], bins, labels=group_names).head()
#Age_df["Age"] = 
players_unique_df["Age_Ranges"] = pd.cut(players_unique_df["Age"], bins, labels=group_names, include_lowest=True).head()
players_unique_df.head()

              SN  Age Gender Age_Ranges
0        Lisim78   20   Male      20-24
1    Lisovynya38   40   Male      40-44
2     Ithergue48   24   Male      20-24
3  Chamassasya86   24   Male      20-24
4      Iskosia90   23   Male      20-24

In [232]:
purchase_df.groupby(["SN"]).sum().sort_values("Price", ascending=False).head()

             Purchase ID  Age  Item ID  Price
SN
Lisosia93           1630  125      442  18.96
Idastidru52         1999   96      527  15.45
Chamjask73          1306   66      339  13.83
Iral74              2285   84      518  13.62
Iskadarya95          713   60      321  13.10

In [228]:
#Break out 5 top spenders "SN", "Purchase Count" , 'Average Purchase Price', "Total Purchase Value" USE LOC?
#Top purchasers by SN
sn_top = purchase_df.groupby(["SN"]).sum().sort_values("Price", ascending=False).head()
#average pur price top 5 spenders
avg_top5 = purchase_df.groupby(["SN"]).mean().sort_values("Price", ascending=False).head()
#Purchase Count
pur_count = purchase_df.groupby(["Purchase ID"]).sum().sort_values("Purchase ID", ascending=False).head()
#Total Purchase Value
total_pur = purchase_df.groupby(["Price"]).sum().sort_values("Price", ascending=False).head()

top_spenders_df = pd.DataFrame ({"Screen Name":[sn_top], 
                                 "Purchase Count":[pur_count],  
                                 "Average Purchase Price":[avg_top5],
                                 "Total Purchase Value":[total_pur]
                                 
                                })
#purchase_df.groupby(["SN"]).head(5)
top_spender.df

KeyError: 'Price'

In [227]:
total_pur = purchase_df.groupby(["Price"]).sum().sort_values("Price", ascending=False).head()

In [ ]:
#Most Popular Items Need to break out by purchase count to sum Item ID, "Item Name", "Purchase Count", "Item Price","Total Purchase Value"
#purchase_df.groupby(["Item ID"]).sum().sort_values
purchase_df.groupby(["SN"]).sum().sort_values("Price", ascending=False).head()

In [157]:
#Most Popular Items DF - top 5 for each
#Most Popular
most_pop = purchase_df.groupby(["Item ID"]).sum().sort_values("Price", ascending=False).head()
#Item Name
name = purchase_df.groupby(["Item Name"]).sum()
#Purchase count
purchase_count = purchase_df.groupby(["Purchase ID"]).count()
#item price
item_price = purchase_df.groupby(["Item Price"]).count()
#Total Purchase Value 
total_pur_value = purchase_df.groupby(["Price"]).sum()

#groupItemP = (groupPriceSum / groupItemC)
#groupItemV = (groupItemP * groupItemC)
purchase_df.loc[""]
popular_df = pd.DataFrame ({"Item ID":[most_pop] , 
                                 "Item Name":[name] ,
                                 "Purchase Count":[purchase_count],
                                 "Item Price":[item_price],
                                 "Total Purchase Value":[total_pur_value]
                           })
popular.df

KeyError: 'Item Price'

In [ ]:

# Place the data series into a new column inside of the DataFrame
#ted_df["View Group"] = pd.cut(ted_df["views"], bins, labels=group_labels)
#ted_df.head()

In [ ]:
#Most Profitableto five
df.loc['':'', '']

profitable_df = pd.DataFrame ({"Item ID": ), 
                                 "Item Name":  ,
                                 "Purchase Count":
                                 "Item Price":
                                 "Total Purchase Value":
                           })