In [60]:
# Import Dependencies
import pandas as pd
import csv
import os

In [61]:
# File to Load
purchase_data_path = "Resources/purchase_data.csv"

# Read modified Purchase Data csv and store into Pandas DataFrame
purchase_df = pd.read_csv(purchase_data_path)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [105]:
#Total players
num_players = len(purchase_df["SN"].unique())
num_players_df = pd.DataFrame({"Player Count": [num_players]})
num_players_df

   Player Count
0           576

In [109]:
#Count the total number of players 
#purchase_df["SN"].unique()

#Un Items
unique_items = len(purchase_df["Item Name"].unique())
#Avg Price
Avg_Price = purchase_df['Price'].mean()
#Total Numberof purchases
Num_Purchases = len(purchase_df['Purchase ID'])
#Total Revenue
Total_Revenue = sum(purchase_df['Price'])

purchasing_analysis_df = pd.DataFrame({

                            "Number of Unique Items":[unique_items],
                            "Average Purchase Price":[Avg_Price],
                            "Total Number of Purchases":[Num_Purchases],
                            "Total Revenue": [Total_Revenue]
                            })
print(purchasing_analysis_df)

   Number of Unique Items  Average Purchase Price  Total Number of Purchases  \
0                     179                3.050987                        780

   Total Revenue
0        2379.77

In [63]:
# Count of Female,Male and Nonbinary Players

Gender_players_df = purchase_df.groupby(["Gender"]) # How to add sum to the same line?
Gender_players_df.count().drop(columns=['Item Name', 'Price'])

                       Purchase ID   SN  Age  Item ID
Gender
Female                         113  113  113      113
Male                           652  652  652      652
Other / Non-Disclosed           15   15   15       15

In [116]:
Gender_players_df = purchase_df.groupby(["Gender"])
#Gender = purchase_df.drop_duplicates(subset='SN', keep="first")
# By Gender GroupBy
gender_stats = Gender_players_df.groupby("Female").count()
#Screen names by gender
total_gender = gender_stats.value_count['SN']
#Total couns by gender/ total players?
percent_of_players = total_gender / num_players * 100

#Create Summery

Gender_Demo_df = pd.DataFrame ({"Percentage of Players": percent_of_players,
                            "Total Count": total_gender
                            })
print(Dender_Demo_df)

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'

In [ ]:
#Purchasing ANalysis by Gender Break out Purchase count, avg purchase price, total purchase value, avg purchasre total/person by gender - Build a dataframe from the groupby? 
Gender_breakout_df = pd.DataFrame([{"Total Purchases": Gender_players_df.sum()("Purchase ID"),
                                  "Average Purchase Price": Gender_players_df.mean()("Price"),
                                   "Total Purchase Value" : Gender_players_df.sum()("Price"),
                                    "Average Purchase Total Per Person by Gender": Gender_players_df.mean()("Gender") 
                        }])
Gender_players_df.head()
Gender_player.df.loc[:,[]]

In [ ]:
#Use grouped data and filer from there Gender > Age
Gender_players_df["Age"].value_counts()

In [70]:
#Gender_players_df.groups

In [ ]:
#Gender_players_df.get_group('Female') # How to sum from here?

In [ ]:
#Gender_players_df.get_group('Male').sum()

In [ ]:
#Pulled out female playser and price 
#Gender_players_df.get_group('Female'),["Price"]

In [ ]:
#Gender_players_df.mean()

In [71]:
#If I pull out the columbns does this answers the questions in that section? Need to pull applicable columns

Gender_players_df.describe()

                      Purchase ID                                        \
                            count        mean         std   min     25%
Gender
Female                      113.0  379.380531  211.605484  15.0  199.00
Male                        652.0  392.516871  227.516414   0.0  193.75
Other / Non-Disclosed        15.0  334.600000  234.524991   9.0  169.50

                                               Age             ... Item ID  \
                         50%     75%    max  count       mean  ...     75%
Gender                                                         ...
Female                 392.0  558.00  775.0  113.0  21.345133  ...   129.0
Male                   390.5  592.25  779.0  652.0  22.917178  ...   139.0
Other / Non-Disclosed  291.0  516.50  747.0   15.0  24.200000  ...   141.0

                              Price                                          \
                         max  count      mean       std   min     25%   50%
Gender
Female                 183.0  113.0  3.203009  1.158194  1.00  2.2800  3.45
Male                   183.0  652.0  3.017853  1.175625  1.00  1.9625  3.09
Other / Non-Disclosed  163.0   15.0  3.346000  0.883813  1.33  3.1000  3.45


                         75%   max
Gender
Female                 4.230  4.90
Male                   4.080  4.99
Other / Non-Disclosed  3.875  4.75

[3 rows x 32 columns]

In [72]:
#Average total putrchase price by gender - check 
filter = purchase_df['Gender'] == "Female"
purchase_df.loc[filter]['Price'].mean()

3.203008849557519

In [99]:
Gender_players_df['Age'].describe()

,count,mean,std,min,25%,50%,75%,max
Gender,,,,,,,,
Female,113.0,21.345133,6.097086,7.0,18.0,21.0,24.0,40.0
Male,652.0,22.917178,6.689232,7.0,20.0,22.0,25.0,45.0
Other / Non-Disclosed,15.0,24.200000,8.376839,15.0,18.0,21.0,30.0,38.0

In [74]:
#Create group by Age 
Age_df = purchase_df.groupby(["Age"])
Age_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
692,692,Quaecjask96,9,Male,78,"Glimmer, Ender of the Moon",4.40
728,728,Chanosiaya39,44,Male,93,Apocalyptic Battlescythe,1.97
738,738,Eusur90,36,Male,121,Massacre,1.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70

In [76]:
#Age Demo 
#Break into bins in 4 year increments # How to make over x age? > sign wont work for younger and older - error = ValueError: bins must increase monotonically.

bins = [5.9,9.9,14.9,19.9,24.9,29.9,34.9,39.9,44.9,49.9,54.9, 59.9,150]
group_names = ["6-9","10-14","15-19","20-24","25-29","30-34","35-39","40-44","45-49","50-54","55-60", "Over 60"]

In [77]:

#Group bins with names
#age_groups = pd.cut(Age_df["Age"], bins, labels = group_names)
#New_Age_df = pd.cut(Age_df["Age"], bins, labels=group_names).head()
#Age_df["Age"] = 
pd.cut(Age_df["Age"], bins, labels=group_names, include_lowest=True).head()

ValueError: setting an array element with a sequence.

In [98]:
#Break out 5 top spenders "SN", "Purchase Count" , 'Average Purchase Price', "Total Purchase Value" USE LOC?
#Top purchasers by SN
purchase_df.groupby(["SN"]).sum().sort_values("Price", ascending=False).head()
#average pur price top 5 spenders
purchase_df.groupby(["SN"]).mean().sort_values("Price", ascending=False).head()
#Purchase Count
purchase_df.groupby(["Purchase ID"]).sum().sort_values("Purchase ID", ascending=False).head()
#Total Purchase Value
purchase_df.groupby(["Price"]).sum().sort_values("Price", ascending=False).head()
top_spenders_df = pd.DataFrame ({"Screen Name": purchase_df.groupby(["SN"]), 
                                 "Purchase Count":  
                                 "Average Purchase Price":
                                 "Total Purchase Value":
                                 "Average Purchase Total by Age Group"
                                    
                                })
purchase_df.groupby(["SN"]).mean().sort_values("Price", ascending=False).head()

SyntaxError: invalid syntax (<ipython-input-98-a3ca517f87ed>, line 12)

In [92]:
purchase_df.groupby(["SN"]).sum().sort_values("Price", ascending=False).head()

             Purchase ID  Age  Item ID  Price
SN
Lisosia93           1630  125      442  18.96
Idastidru52         1999   96      527  15.45
Chamjask73          1306   66      339  13.83
Iral74              2285   84      518  13.62
Iskadarya95          713   60      321  13.10

In [93]:
#Group By top 5 by Purchase Count Do I need to join the lists base don a key for total purchase count? = Npo, lists by apha order
purchase_df.groupby(["SN"]).head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [96]:
#Most Popular Items Need to break out by purchase count to sum Item ID, "Item Name", "Purchase Count", "Item Price","Total Purchase Value"
#purchase_df.groupby(["Item ID"]).sum().sort_values
purchase_df.groupby(["SN"]).sum().sort_values("Price", ascending=False).head()

             Purchase ID  Age  Item ID  Price
SN
Lisosia93           1630  125      442  18.96
Idastidru52         1999   96      527  15.45
Chamjask73          1306   66      339  13.83
Iral74              2285   84      518  13.62
Iskadarya95          713   60      321  13.10

In [ ]:
#Most Popular Items DF - top 5 for each 
purchase_df.
popular_df = pd.DataFrame ({"Item ID": ), 
                                 "Item Name":  ,
                                 "Purchase Count":
                                 "Item Price":
                                 "Total Purchase Value":
                           })

In [ ]:

# Place the data series into a new column inside of the DataFrame
#ted_df["View Group"] = pd.cut(ted_df["views"], bins, labels=group_labels)
#ted_df.head()

In [ ]:
#Most Profitableto five

profitable_df = pd.DataFrame ({"Item ID": ), 
                                 "Item Name":  ,
                                 "Purchase Count":
                                 "Item Price":
                                 "Total Purchase Value":
                           })