In [138]:
# Import Dependencies
import pandas as pd
import csv
import os

In [195]:
# File to Load
purchase_data_path = "Resources/purchase_data.csv"

# Read modified Purchase Data csv and store into Pandas DataFrame
purchase_df = pd.read_csv(purchase_data_path)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [196]:
#Total players
num_players = len(purchase_df["SN"].unique())
num_players_df = pd.DataFrame({"Player Count": [num_players]})
num_players_df

   Player Count
0           576

In [294]:
#Purchasing Analysis (Total)

#Un Items
unique_items = len(purchase_df["Item Name"].unique())
#Avg Price
Avg_Price = purchase_df['Price'].mean()
#Total Numberof purchases
Num_Purchases = len(purchase_df['Purchase ID'])
#Total Revenue
Total_Revenue = sum(purchase_df['Price'])

purchasing_analysis_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                            "Average Purchase Price":[Avg_Price],
                            "Total Number of Purchases":[Num_Purchases],
                           "Total Revenue": [Total_Revenue]
                                      })

#purchasing_analysis_df["Average price"] = purchasing_analysis_df["Average Purchase Price"].map("${:.2f}".format)
purchasing_analysis_df["Average price"] = purchasing_analysis_df["Average Purchase Price"].map("${:.2f}".format)
purchasing_analysis_df["Total revenue"] = purchasing_analysis_df["Total Revenue"].map("${:.2f}".format)
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue,Average price,Total revenue
0,179,3.050987,780,2379.77,$3.05,$2379.77

In [211]:

purchase_df = purchase_df.drop_duplicates()

purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [295]:
players_unique_df = purchase_df.loc[:,["SN", "Age", "Gender"]].drop_duplicates()

In [288]:
#Gender Demographics
gender_stats = players_unique_df["Gender"].value_counts()
percent_gender_stats = gender_stats / num_players * 100

merged_df = pd.DataFrame({"Total Number of Players":gender_stats,"Percentage":percent_gender_stats})
merged_df

                       Total Number of Players  Percentage
Male                                       484   84.027778
Female                                      81   14.062500
Other / Non-Disclosed                       11    1.909722

In [316]:
#Purchasing Analysis by Gender

#"Purchasing ANalysis by Gender Break out" Purchase count, avg purchase price, total purchase value, avg purchasre total/person by gender - Build a dataframe from the groupby? 
#Purchase COunt
pur_total = purchase_df.groupby(['Gender']).sum()['Price']
#Gender_players_df.sum()("Purchase ID") #DO this - grouby gender then sum 
# Average Price 
avg_price =  purchase_df.groupby(['Gender']).mean()['Price']
#Total Purchase Value
pur_count = purchase_df.groupby(['Gender']).count()['Price']
# Average Purchase Total Per Person by Gender"
gender_avg = purchase_df.groupby(['Gender']).mean()['Price']

Gender_PA_df = pd.DataFrame([{"Purchase Count":[pur_count] ,
                            "Average Purchase Price": [avg_price] ,
                            "Total Purchase Value" : [pur_count],
                            "Average Purchase Total Per Person by Gender":[gender_avg] }])
Gender_PA_df
#How do I break it out by line,not all

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total Per Person by Gender
0,"[[113, 652, 15]]","[[3.203008849557519, 3.0178527607361953, 3.346...","[[113, 652, 15]]","[[3.203008849557519, 3.0178527607361953, 3.346..."

In [242]:
#Create group by Age 
Age_df = purchase_df.groupby(["Age"])
Age_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
692,692,Quaecjask96,9,Male,78,"Glimmer, Ender of the Moon",4.40
728,728,Chanosiaya39,44,Male,93,Apocalyptic Battlescythe,1.97
738,738,Eusur90,36,Male,121,Massacre,1.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70

In [243]:
#Age Demo 
#Break into bins in 4 year increments # How to make over x age? > sign wont work for younger and older - error = ValueError: bins must increase monotonically.

bins = [5.9,9.9,14.9,19.9,24.9,29.9,34.9,39.9,44.9,49.9,54.9, 59.9,150]
group_names = ["6-9","10-14","15-19","20-24","25-29","30-34","35-39","40-44","45-49","50-54","55-60", "Over 60"]

In [324]:
#Age Demographins 
#Group bins with names
#age_groups = pd.cut(Age_df["Age"], bins, labels = group_names)
#New_Age_df = pd.cut(Age_df["Age"], bins, labels=group_names).head()
#Age_df["Age"] = 
players_unique_df["Age Ranges"] = pd.cut(players_unique_df["Age"], bins, labels=group_names, include_lowest=True).head()
players_unique_df.head()

#New group
age_groups = players_unique_df.groupby("Age Ranges")

#Players by age category
total_age = age_groups['SN'].unique()

#Percentage by age
perct_age = (total_age / num_players ) * 1000

Demo_Age = pd.DataFrama ({"Percentage of Player":perct_age,
                          "Total Counts":total_age})
  

#age_demo["Percentage of Players"] = age_demo["Percentage of Players"].map("{:.2f}".format)
#Demo_age

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [297]:
#Test Area
#purchase_df.groupby(["Price"]).sum().sort_values("Price", ascending=False).head()

                SN  Age  Gender Age_Ranges
0          Lisim78   20    Male      20-24
1      Lisovynya38   40    Male      40-44
2       Ithergue48   24    Male      20-24
3    Chamassasya86   24    Male      20-24
4        Iskosia90   23    Male      20-24
..             ...  ...     ...        ...
773         Hala31   21    Male        NaN
774     Jiskjask80   11    Male        NaN
775     Aethedru70   21  Female        NaN
777     Yathecal72   20    Male        NaN
778        Sisur91    7    Male        NaN

[576 rows x 4 columns]

In [253]:
#Break out 5 top spenders "SN", "Purchase Count" , 'Average Purchase Price', "Total Purchase Value" USE LOC?
#equations work, wont display
#Top purchasers by SN
sn_top = purchase_df.groupby(["SN"]).sum().sort_values("Price", ascending=False).head()
#average pur price top 5 spenders
avg_top5 = purchase_df.groupby(["SN"]).mean().sort_values("Price", ascending=False).head()
#Purchase Count
pur_count = purchase_df.groupby(["Purchase ID"]).sum().sort_values("Purchase ID", ascending=False).head()
#Total Purchase Value
total_pur = purchase_df.groupby(["Price"]).sum().sort_values("Price", ascending=False).head()

top_spenders_df = pd.DataFrame ({"Screen Name":[sn_top], 
                                 "Purchase Count":[pur_count],  
                                 "Average Purchase Price":[avg_top5],
                                 "Total Purchase Value":[total_pur]
                                 
                                })
#purchase_df.groupby(["SN"]).head(5)
top_spenders_df

,Screen Name,Purchase Count,Average Purchase Price,Total Purchase Value
0,Purchase ID Age Item ID Price ...,Age Item ID Price Purchase ID ...,Purchase ID Age Item ID Pr...,Purchase ID Age Item ID Price ...

In [258]:
item_price = purchase_df.groupby(["Price"]).count()

In [325]:
#Most Popular Items Need to break out by purchase count to sum Item ID, "Item Name", "Purchase Count", "Item Price","Total Purchase Value"
#purchase_df.groupby(["Item ID"]).sum().sort_values
purchase_df.groupby(["SN"]).sum().sort_values("Price", ascending=False).head()

             Purchase ID  Age  Item ID  Price
SN
Lisosia93           1630  125      442  18.96
Idastidru52         1999   96      527  15.45
Chamjask73          1306   66      339  13.83
Iral74              2285   84      518  13.62
Iskadarya95          713   60      321  13.10

In [315]:
#Most Popular Items DF - top 5 for each
#Most Popular
most_pop = purchase_df.groupby(["Item ID"]).sum().sort_values("Price", ascending=False)

#Item Name
name = purchase_df.groupby(["Item Name"]).sum()
#Purchase count
purchase_count = purchase_df.groupby(["Purchase ID"]).count()
#item price
item_price = purchase_df.groupby(["Price"]).count()
#Total Purchase Value 
total_pur_value = purchase_df.groupby(["Price"]).sum()

popular_df = pd.DataFrame ({"Item ID":[most_pop] , 
                                 "Item Name":[name] ,
                                 "Purchase Count":[purchase_count],
                                 "Item Price":[item_price],
                                 "Total Purchase Value":[total_pur_value]
                           })
popular_df

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
0,Purchase ID Age Price Item ID ...,Purchase ID ...,SN Age Gender Item ID Item Na...,Purchase ID SN Age Gender Item ID ...,Purchase ID Age Item ID Price ...

In [ ]:
#Most Profitableto five Copy in from above


profitable_df = pd.DataFrame ({"Item ID": ), 
                                 "Item Name":  ,
                                 "Purchase Count":
                                 "Item Price":
                                 "Total Purchase Value":
                           })