In [138]:
# Import Dependencies
import pandas as pd
import csv
import os

In [139]:
# File to Load
purchase_data_path = "Resources/purchase_data.csv"

# Read modified Purchase Data csv and store into Pandas DataFrame
purchase_df = pd.read_csv(purchase_data_path)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [140]:
#Total players
num_players = len(purchase_df["SN"].unique())
num_players_df = pd.DataFrame({"Player Count": [num_players]})
num_players_df

   Player Count
0           576

In [141]:
#Count the total number of players NEED TO: Format numbers, get rid of zero
#purchase_df["SN"].unique()

#Un Items
unique_items = len(purchase_df["Item Name"].unique())
#Avg Price
Avg_Price = purchase_df['Price'].mean()
#Total Numberof purchases
Num_Purchases = len(purchase_df['Purchase ID'])
#Total Revenue
Total_Revenue = sum(purchase_df['Price'])

purchasing_analysis_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                            "Average Purchase Price":[Avg_Price],
                            "Total Number of Purchases":[Num_Purchases],
                            "Total Revenue": [Total_Revenue]
                            })
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

In [142]:
# Count of Female,Male and Nonbinary Players

Gender_players_df = purchase_df.groupby(["Gender"]) # How to add sum to the same line?
Gender_players_df.count().drop(columns=['Item Name', 'Price'])

                       Purchase ID   SN  Age  Item ID
Gender
Female                         113  113  113      113
Male                           652  652  652      652
Other / Non-Disclosed           15   15   15       15

In [145]:
#Gender_players_df = purchase_df.groupby(["Gender"])
#Gender = purchase_df.drop_duplicates(subset='SN', keep="first")
# By Gender GroupBy - ##How to break out?
gender_stats = Gender_players_df.(["Female"]).count()
#Screen names by gender
total_gender = ender_players_df.value_count['SN']
#Total couns by gender/ total players?
percent_of_players = total_gender / num_players * 100

#Create Summery

Gender_Demo_df = pd.DataFrame({"Percentage of Players": [percent_of_players],
                          "Total Count": [total_gender]
                           })
Gender_Demo_df

NameError: name 'ender_players_df' is not defined

In [ ]:
#"Purchasing ANalysis by Gender Break out" Purchase count, avg purchase price, total purchase value, avg purchasre total/person by gender - Build a dataframe from the groupby? 
#Purchase COunt
pur_count = Gender_players_df.sum()("Purchase ID")
# Average Price
avg_price = Gender_players_df.mean()("Price")
#Total Purchase Value
pur_val = Gender_players_df.sum()("Price")
# Average Purchase Total Per Person by Gender"
gender_avg = Gender_players_df.mean()("Gender") 

Gender_breakout_df = pd.DataFrame([{"Purchase Count":[pur_count] ,
                                  "Average Purchase Price": [avg_price] ,
                                   "Total Purchase Value" : [pur_val],
                                    "Average Purchase Total Per Person by Gender":[gender_avg] 
                        }])
Gender_players_df
#Gender_player.df.loc[:,[]]

In [ ]:
#Use grouped data and filer from there Gender > Age
Gender_players_df["Age"].value_counts()

In [ ]:
#Gender_players_df.groups

In [ ]:
#Gender_players_df.get_group('Female') # How to sum from here?

In [ ]:
#Gender_players_df.get_group('Male').sum()

In [ ]:
#Pulled out female playser and price 
#Gender_players_df.get_group('Female'),["Price"]

In [ ]:
#Gender_players_df.mean()

In [ ]:
#If I pull out the columbns does this answers the questions in that section? Need to pull applicable columns

Gender_players_df.count()

In [ ]:
#Average total putrchase price by gender - check 
filter = purchase_df['Gender'] == "Female"
purchase_df.loc[filter]['Price'].mean()

In [ ]:
Gender_players_df['Age'].describe()

In [ ]:
#Create group by Age 
Age_df = purchase_df.groupby(["Age"])
Age_df.head()

In [ ]:
#Age Demo 
#Break into bins in 4 year increments # How to make over x age? > sign wont work for younger and older - error = ValueError: bins must increase monotonically.

bins = [5.9,9.9,14.9,19.9,24.9,29.9,34.9,39.9,44.9,49.9,54.9, 59.9,150]
group_names = ["6-9","10-14","15-19","20-24","25-29","30-34","35-39","40-44","45-49","50-54","55-60", "Over 60"]

In [ ]:

#Group bins with names
#age_groups = pd.cut(Age_df["Age"], bins, labels = group_names)
#New_Age_df = pd.cut(Age_df["Age"], bins, labels=group_names).head()
#Age_df["Age"] = 
pd.cut(Age_df["Age"], bins, labels=group_names, include_lowest=True).head()

In [148]:
#Break out 5 top spenders "SN", "Purchase Count" , 'Average Purchase Price', "Total Purchase Value" USE LOC?
#Top purchasers by SN
sn_top = purchase_df.groupby(["SN"]).sum().sort_values("Price", ascending=False).head()
#average pur price top 5 spenders
avg_top5 = purchase_df.groupby(["SN"]).mean().sort_values("Price", ascending=False).head()
#Purchase Count
pur_count = purchase_df.groupby(["Purchase ID"]).sum().sort_values("Purchase ID", ascending=False).head()
#Total Purchase Value
total_pur = purchase_df.groupby(["Price"]).sum().sort_values("Price", ascending=False).head()

top_spenders_df = pd.DataFrame ({"Screen Name":[sn_top], 
                                 "Purchase Count":[pur_count],  
                                 "Average Purchase Price":[avg_top5],
                                 "Total Purchase Value":[total_pur]
                                 
                                })
purchase_df.groupby(["SN"]).mean().sort_values("Price", ascending=False).head()

                Purchase ID   Age  Item ID  Price
SN
Dyally87              554.0  22.0     63.0   4.99
Lirtilsa71            246.0  24.0    139.0   4.94
Yarithsurgue62        231.0  26.0    139.0   4.94
Ririp86               110.0  25.0    139.0   4.94
Chanirrasta87         493.0  14.0    139.0   4.94

In [ ]:
#Group By top 5 by Purchase Count Do I need to join the lists base don a key for total purchase count? = Npo, lists by apha order
purchase_df.groupby(["SN"]).head(5)

In [ ]:
#Most Popular Items Need to break out by purchase count to sum Item ID, "Item Name", "Purchase Count", "Item Price","Total Purchase Value"
#purchase_df.groupby(["Item ID"]).sum().sort_values
purchase_df.groupby(["SN"]).sum().sort_values("Price", ascending=False).head()

In [152]:
#Most Popular Items DF - top 5 for each
#Most Popular
most_pop = purchase_df.groupby(["Item ID"]).sum().sort_values("Price", ascending=False).head()
#Item Name
name = purchase_df.groupby(["Item Name"]).sum().sort_values("Price", ascending=False).head()
#Purchase count
purchase_count = purchase_df.groupby(["Purchase ID"]).count().sort_values("Price", ascending=False).head()
#item price
item_price = groupItem["Price"].count()
total_pur_value = groupItem["Price"].sum()

#groupItemP = (groupPriceSum / groupItemC)
#groupItemV = (groupItemP * groupItemC)
purchase_df.loc[""]
popular_df = pd.DataFrame ({"Item ID":[most_pop] , 
                                 "Item Name":[name] ,
                                 "Purchase Count":
                                 "Item Price":
                                 "Total Purchase Value":
                           })
popular.df

SyntaxError: invalid syntax (<ipython-input-152-a1390fa75209>, line 18)

In [ ]:

# Place the data series into a new column inside of the DataFrame
#ted_df["View Group"] = pd.cut(ted_df["views"], bins, labels=group_labels)
#ted_df.head()

In [ ]:
#Most Profitableto five
df.loc['cobra':'viper', 'max_speed']

profitable_df = pd.DataFrame ({"Item ID": ), 
                                 "Item Name":  ,
                                 "Purchase Count":
                                 "Item Price":
                                 "Total Purchase Value":
                           })