In [60]:
# Import Dependencies
import pandas as pd
import csv
import os

In [61]:
# File to Load
purchase_data_path = "Resources/purchase_data.csv"

# Read modified Purchase Data csv and store into Pandas DataFrame
purchase_df = pd.read_csv(purchase_data_path)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [62]:
#Count the total number of players 
purchase_df["SN"].unique()
#Total players
num_players = len(purchase_df["SN"].unique())
#Un Items
unique_items = len(purchase_df["Item Name"].unique())
#Avg Price
Avg_Price = purchase_df['Price'].mean()
#Total Numberof purchases
Num_Purchases = len(purchase_df['Purchase ID'])
#Total Revenue
Total_Revenue = sum(purchase_df['Price'])

summary_df = pd.Dataframe({
                            "Total Number of Players":[num_players],
                            "Number of Unique Items":[unique_items],
                            "Average Purchase Price":[Avg_price],
                            "Total Number of Purchases":[Num_Purchases],
                            "Total Revenue": [Total_Revenue]
                            })
print(summary.df)

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [63]:
# Count of Female,Male and Nonbinary Players

Gender_players_df = purchase_df.groupby(["Gender"]) # How to add sum to the same line?
Gender_players_df.count().drop(columns=['Item Name', 'Price'])

                       Purchase ID   SN  Age  Item ID
Gender
Female                         113  113  113      113
Male                           652  652  652      652
Other / Non-Disclosed           15   15   15       15

In [64]:
# By Gender GroupBy
gender_stats = purchase_df.groupby("Gender")
#Screen names by gender
total_gender = gender_stats.unique['SN']
#Total couns by gender/ total players?
percent_of_players = total_gender / num_players * 100

#Create Summery

Gender_Demo = pd.DataFrame ({"Percentage of Players": percent_of_players,
                            "Total Count": total_gender
                            })

AttributeError: 'DataFrameGroupBy' object has no attribute 'unique'

In [ ]:
#Break out Purchase count, avg purchase price, total purchase value, avg purchasre total/person by gender - Build a dataframe from the groupby? 
Gender_breakout_df = pd.DataFrame([{"Total Purchases": Gender_players_df.sum()("Purchase ID"),
                                  "Average Purchase Price": Gender_players_df.mean()("Price"),
                                   "Total Purchase Value" : Gender_players_df.sum()("Price"),
                                    "Average Purchase Total Per Person by Gender": Gender_players_df.mean()("Gender") 
                        }])
Gender_players_df.head()
Gender_player.df.loc[:,[]]

In [ ]:
#Use grouped data and filer from there Gender > Age
Gender_players_df["Age"].value_counts()

In [70]:
#Gender_players_df.groups

In [ ]:
#Gender_players_df.get_group('Female') # How to sum from here?

In [ ]:
#Gender_players_df.get_group('Male').sum()

In [ ]:
#Pulled out female playser and price 
#Gender_players_df.get_group('Female'),["Price"]

In [ ]:
#Gender_players_df.mean()

In [71]:
#If I pull out the columbns does this answers the questions in that section? Need to pull applicable columns

Gender_players_df.describe()

                      Purchase ID                                        \
                            count        mean         std   min     25%
Gender
Female                      113.0  379.380531  211.605484  15.0  199.00
Male                        652.0  392.516871  227.516414   0.0  193.75
Other / Non-Disclosed        15.0  334.600000  234.524991   9.0  169.50

                                               Age             ... Item ID  \
                         50%     75%    max  count       mean  ...     75%
Gender                                                         ...
Female                 392.0  558.00  775.0  113.0  21.345133  ...   129.0
Male                   390.5  592.25  779.0  652.0  22.917178  ...   139.0
Other / Non-Disclosed  291.0  516.50  747.0   15.0  24.200000  ...   141.0

                              Price                                          \
                         max  count      mean       std   min     25%   50%
Gender
Female                 183.0  113.0  3.203009  1.158194  1.00  2.2800  3.45
Male                   183.0  652.0  3.017853  1.175625  1.00  1.9625  3.09
Other / Non-Disclosed  163.0   15.0  3.346000  0.883813  1.33  3.1000  3.45


                         75%   max
Gender
Female                 4.230  4.90
Male                   4.080  4.99
Other / Non-Disclosed  3.875  4.75

[3 rows x 32 columns]

In [72]:
#Average total putrchase price by gender - check 
filter = purchase_df['Gender'] == "Female"
purchase_df.loc[filter]['Price'].mean()

3.203008849557519

In [73]:
Gender_players_df['Price'].value_counts()

Gender                 Price
Female                 4.40     5
                       1.33     4
                       4.90     4
                       1.02     3
                       2.73     3
                               ..
Other / Non-Disclosed  3.55     1
                       3.58     1
                       3.81     1
                       4.40     1
                       4.75     1
Name: Price, Length: 235, dtype: int64

In [74]:
#Create group by Age 
Age_df = purchase_df.groupby(["Age"])
Age_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
692,692,Quaecjask96,9,Male,78,"Glimmer, Ender of the Moon",4.40
728,728,Chanosiaya39,44,Male,93,Apocalyptic Battlescythe,1.97
738,738,Eusur90,36,Male,121,Massacre,1.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70

In [76]:
#Age Demo 
#Break into bins in 4 year increments # How to make over x age? > sign wont work for younger and older - error = ValueError: bins must increase monotonically.

bins = [5.9,9.9,14.9,19.9,24.9,29.9,34.9,39.9,44.9,49.9,54.9, 59.9,150]
group_names = ["6-9","10-14","15-19","20-24","25-29","30-34","35-39","40-44","45-49","50-54","55-60", "Over 60"]

In [77]:

#Group bins with names
#age_groups = pd.cut(Age_df["Age"], bins, labels = group_names)
#New_Age_df = pd.cut(Age_df["Age"], bins, labels=group_names).head()
#Age_df["Age"] = 
pd.cut(Age_df["Age"], bins, labels=group_names, include_lowest=True).head()

ValueError: setting an array element with a sequence.

In [ ]:
#Break out top spenders "SN", "Purchase Count" , 'Average Purchase Price', "Total Purchase Value"

#can this approach be taken with multiple values or does each need its own line https://stackoverflow.com/questions/35364601/group-by-and-find-top-n-value-counts-pandas
#Top average purchase
top_spenders_df = pd.DataFrame ({"Screen Name":, 
                                 "Purchase Count":  ,
                                 "Average Purchase Price":
                                 "Total Purchase Value":
                                 "Average Purchase Total by Age Group"
                                    
                                })
purchase_df.groupby(["SN"]).mean().sort_values("Price", ascending=False).head()

In [ ]:
#Top purchasers by SN
purchase_df.groupby(["SN"]).sum().sort_values("Price", ascending=False).head()

In [ ]:
#Group By top 5 by Purchase Count Do I need to join the lists base don a key for total purchase count? 
purchase_df.groupby(["SN"]).head(5)

In [ ]:
#average pur price top 5 spenders
purchase_df.groupby(["SN"]).mean().sort_values("Price", ascending=False).head()

In [ ]:
#top 5 total purchase value - need to tie the two together again

In [ ]:
#Most Popular Items Need to break out by purchase count to sum Item ID, "Item Name", "Purchase Count", "Item Price","Total Purchase Value"
purchase_df.groupby(["Item ID"]).sum().sort_values("Price", ascending=False).head()

In [ ]:

# Place the data series into a new column inside of the DataFrame
#ted_df["View Group"] = pd.cut(ted_df["views"], bins, labels=group_labels)
#ted_df.head()